# This service unit is for testing timer units 
# By David Both
# Licensed under GPL V2
#

[Unit]
Description=Turns on gammastep for the display.

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'until pgrep sway >/dev/null; do sleep 5; done'
ExecStart=/home/le/bin/auto-gammastep
Environment="XDG_SESSION_ID=1"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-1"

[Install]
WantedBy=default.target

