# Directories

!bin/
.cache/
.cargo/
!.config/
	.config/spotify/
!.crpcrp
.dart-tool/
dotfiles/
Downloads/
.elementary/
.git/
.gnupg/
go/
!hid_m708/
keyboard-layout-converter/
le-ugee-conf.pcfg/
.local/
.mozilla/
Music/
my-ip-location/
.nix-defexpr/
.nix-profile/
.npm/
odst.gif/
package-lock.json/
phone-transfer-pin/
Pictures/
.pki/
!Projects
.pub-cache/
result/
.rustup/
!.scripts/
.thunderbird/
!ugeeTablet-4.1.3/
.w3m/



# Files

.bash_history
.bash_logout
!.bash_profile
!.bashrc
.dmrc
.flutter
.gitconfig
.git-credentials
!.gitignore
gtkrc
gtkrc-2.0
!.gtkrc-2.0.mine
!le-ugee-conf.pcfg
my-ip-location
.nix-channels
odst.gif
package-lock.json
print-manager
!.profile
!.sounds
!.xinitrc
