.bash_history
.bash_logout
!.bash_profile
!.bashrc
!bin
.cache
.cargo

# Config Section
.config/VirtualBox/
.config/spotify/
.config/discord/
.config/dolphin/
.config/sfwbar/
.config/baloofileinformationrc
.config/Google/
.config/autostart/
.config/bless/history.xml
.config/bless/last.session
.config/sfwbar/
.config/variety/
.config/obsidian/
.config/keepassxc/
.config/QDirStat/
.config/REAPER/
.config/VSCodium/
.config/calibre/
.config/dconf/
.config/CodiSec/
.config/ghc/
.config/glib-2.0/
.config/Google/
.config/kitty/
!.config/nwg-wrapper/
!.config/nwg-dock/
.config/nwg*
.config/todoist/
.config/uer-dirs.*
.config/yay/
.config/pulse/
.config/NuGet/
.config/fvm/
.config/glava/
.config/terminology/
.config/tool_state
.config/mimeapps.list
.config/mc/

!.crpcrp/
.dart-tool
.dmrc
Documents
dotfiles
.dotnet
Downloads
.elementary
.flutter
!.git/
.gitconfig
.git-credentials
!.gitignore
.gnupg
go
!.gtkrc-2.0
!.gtkrc-2.0.mine
!keyboard-layout-converter
!le-ugee-conf.pcfg
.local
.mozilla
Music
!.nix-channels
!.nix-defexpr
!.nix-profile
.npm
.nuget
package-lock.json
Pictures
.pki
print-manager
!.profile
Projects
.pub-cache
.python_history
.rappel
result
.rustup
!.scripts/
!.sounds
.spotdl/
.thunderbird/
!ugeeTablet-4.1.3/
.w3m
.wget-hsts
.xinitrc
