/*
!.gitignore
!.bashrc
!.bash_profile
!.profile
# !.scripts/
!.Xresources.bac
!.ghci
!.gtkrc-2.0.mine
!.pyrc
!.sounds
!.xinitrc
!ugeeTablet-4.1.3/
!bin/

!.config/
.config/*

!.config/alacritty/
.config/alacritty/images
!.config/asm-lsp/

!.config/autostart/
!.config/cava/
!.config/gammastep/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/lf/
!.config/mako/
!.config/nixos/
!.config/nix/
!.config/nixpkgs/
!.config/nvim/
!.config/nwg-wrapper/
!.config/pipewire/
!.config/ranger/
!.config/rofi/
.config/rofi/images
!.config/rustfmt/
!.config/spicetify/
!.config/rustfmt/
!.config/spicetify/
.config/spicetify/Extracted
.config/spicetify/Backup
!.config/sway/config
!.config/systemd/
!.config/waybar/
!.config/waypaper/
!.config/xkb/
!.config/zotify/
!.config/kritarc

