Set Term = "alacritty"

scanner {
  SwayClient("") {}  # launch sway client to get "sway" trigger
}

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

include("winops.widget")

#function("SfwbarInit") {
#  SetLayer "bottom"
#}

# Panel layout

layout ":start" {
  pager {
    style = "pager"
    rows = 1
    preview = true
    numeric = true
  }
}

layout ":center" {
  label {
    trigger = "sway"
    value = ActiveWin()
    css = "*{ -GtkWidget-ellipsize: true; -GtkWidget-hexpand: true; color: #000000; }"
  }
}

layout ":end" {
  include("wbar-mpd.widget")
#  include("wbar-bluetooth.widget")
  include("wbar-idleinhibit.widget")
  include("wbar-pulse.widget")
  include("wbar-net.widget")
  include("wbar-cpu.widget")
  include("wbar-memory.widget")
  include("wbar-temp.widget")
  include("wbar-backlight.widget")
  include("wbar-sway-lang.widget")
  include("wbar-battery.widget")

  label {
    style = "clock"
    value = Time("%H:%M")
  }

  tray {
    rows = 1
  }
}

