# -*- coding: utf-8 -*-
[general]
last_version = 2, 21, 0
player = le
confirm = True
update_player_stats = True
autofaceup = True
autodrop = False
autodeal = True
quickplay = True
shuffle = True
undo = True
bookmarks = True
hint = True
free_hint = False
highlight_piles = True
highlight_cards = True
highlight_samerank = True
highlight_not_matching = True
peek_facedown = False
stuck_notification = False
mahjongg_show_removed = False
mahjongg_create_solvable = 2
shisen_show_hint = True
shisen_show_matching = False
accordion_deal_all = True
pegged_auto_remove = True
animations = 3
redeal_animation = True
win_animation = True
flip_animation = True
compact_stacks = True
shadow = True
shade = True
shrink_face_down = True
shade_filled_stacks = True
demo_logo = True
tile_theme = clam
default_tile_theme = default
toolbar = 1
toolbar_style = remix
toolbar_relief = flat
toolbar_compound = none
toolbar_size = 0
statusbar = True
num_recent_games = 15
last_gameid = 0
game_holded = 0
wm_maximized = False
splashscreen = True
date_format = %m-%d
mouse_type = drag-n-drop
mouse_undo = False
negative_bottom = True
randomize_place = False
use_cardset_bottoms = False
dragcursor = True
save_games_geometry = False
sound = True
sound_mode = 0
sound_sample_volume = 75
sound_music_volume = 100
sound_sample_buffer_size = 1
music = True
tabletile_name = Felt_Green.gif
tabletile_scale_method = 0
center_layout = True
translate_game_names = True
solver_presets = abra-kadabra, blue-yonder, conspiracy-theory, cookie-monster, cool-jives, crooked-nose, fools-gold, good-intentions, hello-world, john-galt-line, looking-glass, one-big-family, rin-tin-tin, slick-rock, the-last-mohican, video-editing, yellow-brick-road
solver_show_progress = True
solver_max_iterations = 100000
solver_iterations_output_step = 100
solver_preset = video-editing
mouse_button1 = 1
mouse_button2 = 2
mouse_button3 = 3
display_win_message = True
language = ""
recent_gameid = 2,
favorite_gameid = ,
visible_buttons = new, restart, open, save, undo, redo, autodrop, shuffle, hint, pause, statistics, rules, quit, player
visible_status = stuck, time, moves, gamenumber, stats, info, help
game_geometry = 1594, 747
[sound_samples]
areyousure = True
autodrop = True
autoflip = True
autopilotlost = True
autopilotwon = True
deal = True
dealwaste = True
droppair = True
drop = True
extra = True
flip = True
move = True
nomove = True
redo = True
startdrag = True
turnwaste = True
undo = True
gamefinished = False
gamelost = False
gameperfect = False
gamewon = False
[fonts]
sans = helvetica, -12
fixed = courier, 12
small = helvetica, 12
canvas_default = helvetica, 12
canvas_fixed = courier, 12
canvas_large = helvetica, 16
canvas_small = helvetica, 10
[colors]
table = "#008200"
text = "#ffffff"
piles = "#ffc000"
cards_1 = "#ffc000"
cards_2 = "#0000ff"
samerank_1 = "#ffc000"
samerank_2 = "#0000ff"
hintarrow = "#303030"
not_matching = "#ff0000"
[timeouts]
hint = 1.0
demo = 1.0
raise_card = 1.0
highlight_piles = 1.0
highlight_cards = 1.0
highlight_samerank = 1.0
[cardsets]
0 = Neo, back01.png
1 = Neo, ""
2 = Louie Mantia Hanafuda, ""
4 = Uni Mahjongg, ""
3 = Neo Tarock, ""
5 = Neo Hex, ""
6 = Mughal Ganjifa XL, ""
7 = Dashavatara Ganjifa XL, ""
8 = Dashavatara Ganjifa XL, ""
9 = Next Matrix, ""
10 = Neo, ""
scale_cards = False
scale_x = 1.0
scale_y = 1.0
auto_scale = True
spread_stacks = False
preserve_aspect_ratio = True
resampling = 1
[games_geometry]
[offsets]
